.button-default {
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #333333;
  text-align: center;
  width: auto;
  height: 32px !important;
  font-size: 14px;
  font-weight: 500;
  opacity: 1;
  transition-duration: 0.3s;
  &.background-green {
    background-color: #138300;
    color: #ffffff;
    border-color: transparent;
    &:hover {
      background-color: #1ba103;
    }
  }
  &.border-green {
    color: #138300;
    border: 1px solid #138300;
    &:hover {
      color: #1ba103;
      background-color: #ffffff;
      border: 1px solid #1ba103;
    }
  }
  &.background-red {
    background-color: #ff4d4d;
    color: #ffffff;
    border-color: transparent;
    &:hover {
      background-color: #ff7070;
    }
  }
  &.border-red {
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    &:hover {
      color: #ff7070;
      background-color: #ffffff;
      border: 1px solid #ff7070;
    }
  }
  &.background-orange {
    background-color: #FF7029;
    color: #ffffff;
    border-color: transparent;

    &:hover {
      background-color: #FF884D;
    }
  }
  .icon-style {
    margin-right: 7px;
  }
  .iconRight-style {
    margin-left: 7px;
  }
  &:disabled,
  &:disabled:hover {
    cursor: not-allowed;
    background-color: #F2F2F2 !important;
    color: #707070 !important;
    border: 1px solid transparent !important;
  }
}
