.button-select {
  width: 112px;
  height: 34px;
  border-radius: 3px;

  .btn-search {
    border: none;
    height: 100%;
    outline: none;
    width: 78px;
    background-color: #138300;
    color: #ffffff;
    border-radius: 3px 0px 0px 3px;

    &:hover {
      background-color: #19aa00;
    }
  }

  .btn-select {
    border: none;
    outline: none;
    height: 100%;
    width: 34px;
    background-color: #1ba103;
    border-radius: 0px 3px 3px 0px;
  }
}
