.findx-text-label {
  font-size: 14;
  font-weight: 400;
  color: #333333;
  display: flex;

  &-info {
    color: #3078f1;
  }

  &-success {
    color: #138300;
  }

  &-warning {
    color: #dab600;
  }

  &-danger {
    color: #ff2c00;
  }
  p {
    color: red;
    margin-left: 3px;
  }
}
