.findx-text-label {
  font-size: $fs-text-label;
  font-weight: $fw-text-label;
  color: $color-text-label;
  display: flex;

  &-info {
    color: $info-color;
  }

  &-success {
    color: $success-color;
  }

  &-warning {
    color: $warning-color;
  }

  &-danger {
    color: $danger-color;
  }
  p {
    color: red;
    margin-left: 3px;
  }
}
